/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to right, #3498db, #8e44ad);
}

h1, h2 {
    color: white;
}

h1 img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

textarea {
    width: 100%;
    height: 300px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    font-family: monospace;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-y: auto;
    margin-bottom: 10px;
}

button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-size: 1em;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: gray;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

.error-cell {
    color: red;
}

.token-dataType { color: blue; }
.token-reservedWord { color: green; }
.token-controlStatement { color: orange; }
.token-accessModifier { color: purple; }
.token-exception { color: red; }
.token-loop { color: brown; }
.token-operator { color: black; }
.token-newToken { color: teal; }
.error-cell { color: red; }
#codeInput {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    font-family: monospace;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
}

.button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.blue {
    background-color: #007BFF;
    color: white;
}

.yellow {
    background-color: #FFC107;
    color: black;
}

.red {
    background-color: #DC3545;
    color: white;
}

.green {
    background-color: #28A745;
    color: white;
}
